<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Title</title>
</head>
<body>
	
	<!-- 
	1. ${}: 변수식 => 변수를 가져온다.
	2. *{}: 선택적(객체적) 변수식 => 선택적 변수를 가져온다. 
	3. #{}: 메시지식 => message.properties에 지정해 둔 메시지를 출력한다.
	4. @{}: 링크식
	-->
  
    <h1>Hello World</h1>
    <p th:object="${board}"></p>
    <p th:text="${board.bName}"></p>
    <p th:text="*{bContent}"></p>
    
    =================
    
    <div th:object="${board}">
	  <p th:text="${board.bName}"></p>
	  <!-- 선택적 변수는 반드시 해당 객체의 주소가 있어야 멤버 요소에 접근할 수 있다: 객체의 주소는 부모 요소(object)에 담겨 있음.  -->
	  <p th:text="*{bContent}"></p>
	</div>
	
	=================
	
	<h1 th:text="${#temporals.format(localDateTime, 'yyyy-MM-dd HH:mm')}"></h1>
		    
</body>
</html>